<!DOCTYPE html>
<html>
    <head>
        <title>Bronze Gallery</title>
    </head>
    <body>
        <h1 align='center'>Bronze Gallery</h1>
        <img src ="/static/images/bronze.jpg"  height="500" width="1000" align="center" >
        <p>The Archaeological Section of the Museum is primarily concerned with the acquisition, preservation and display of antiquities of the historic period of South India.

The antiquities consist of sculptures, architectural pieces, metal and stone inscriptions which have a bearing on the past history and social life of the people of this part of India.

A significant collection of objects representing the industrial arts such as wood carving, ivory work, metalware, inlay and embossed works for which South India has been famous from very early times, is also dealt with by the Section.
136 Chennai Museum Photos and Premium High Res Pictures - Getty Images Bronze Gallery in Chennai Museum

The objects mentioned above have been slowly accumulated and preserved in the Museum since its inception. They were organized into the present form about 1938 AD due to the efforts of Dr. F.H.Gravely.
Egmore museum set for an upgrade - The Hindu Bronze Gallery in Chennai Museum
Bronze Sculpture Gallery, Chennai Museum Egmore

Though prior to the formation of the Section, sporadic research on certain groups of antiquities have revealed the importance of the objects and thus made the Museum well known yet only after the formation of the Section more detailed studies of the antiquities of the Museum were undertaken, and the results of the studies published in a series of Museum Bulletins.
File:Egmore Museum, Chennai.jpg - Wikimedia CommonsBronze Gallery in Chennai Museum

Gradually, the scope of research work of the Section, initiated by Dr.Gravely, was expanded so as to include other allied subjects such as temple architecture. The activities of the Section, thus, increased and as a consequence, it grew rapidly in size.
Egmore Government Museum, Chennai, Archaeology: Bronze Sculptures Gallery - Best & Oldest Museum in India - Visit, Travel Guide (Part 2) - Casual Walker Chola Bronze Statue in Chennai Museum

Collections

The collections of the Section may be grouped as follows, each group being important and interesting in its own way:
Egmore Government Museum, Chennai, Archaeology: Bronze Sculptures Gallery - Best & Oldest Museum in India - Visit, Travel Guide (Part 2) - Casual Walker Chola Bronze Statues in Chennai Museum

(1) Bronze figures, (2) specimens of sculpture and architectural pieces, (3) inscriptions and (4) industrial art objects.
Egmore Government Museum, Chennai, Archaeology: Bronze Sculptures Gallery - Best & Oldest Museum in India - Visit, Travel Guide (Part 2) - Casual Walker Chola Bronze Statue in Chennai Museum

The study of the objects of the first three groups is essential for a proper evaluation of the levels of culture reached by the people of the different periods and localities to which they belong.
Egmore Government Museum, Chennai, Archaeology: Bronze Sculptures Gallery - Best & Oldest Museum in India - Visit, Travel Guide (Part 2) - Casual Walker Chola Bronze Statues in Chennai Museum

The inscriptions are, however, the main source for the history of the country as also for its social life.
Parvati - Bronze Gallery, Egmore Museum | One of the many Ch… | Flickr Chola Bronze Statue in Chennai Museum

The study of the specimens of the industrial arts reveals how dexterous the South Indian craftsmen were in their application of various art motifs to objects used in daily life or on ceremonial occasions.
Government Museum travel guidebook –must visit attractions in Chennai – Government Museum nearby recommendation – Trip.comChola Bronze Statues in Chennai Museum

Bronze figures

     By far the best known objects of the Section are the metal figures. There are over 1500 of them in the Museum, of which about 85 are Buddhist, about two dozen Jain and the rest Hindu.
Bronze Sculpture Gallery, Chennai Museum Egmore
Chennai's colonial marvels will take you back in time | Chennai | Tamil Nadu | destinations | travel | colonial era | architectureStone sculptures in Chennai Museum
Stone Sculpture Gallery, Chennai Museum Egmore

This Museum is perhaps the only institution in the whole world, where such a large collection of metal figures is assembled under a single roof. </p>
</html>