<!DOCTYPE html>
<html>
    <head>
        <title>Children's Museum</title>
    </head>
    <body>
        <h1 align='center'>Children's Museum</h1>
        <img src ="/static/images/children.jpg"  height="500" width="1000" align="center" >
        <p>The children's museum is bright and lively. It even has some more dinosaurs at its entrance! Its exhibits are mostly in the form of dioramas and miniatures, which present</p>
        <ul>
        <li>the variety in the attire and culture of different states in India, along with the attire of other countries</li>
    <li>the various ancient civilisations</li>
    <li>the different forms of transport, including a hot air balloon</li>
    <li>the animals from 120 million years ago</li>
   <li> the anatomies of animals</li>
    <li>models of modern machines</li>
    <li>and more!</li></ul>
</body>
</html>