<!DOCTYPE html>
<html>
    <head>
        <title>Main building</title>
    </head>
    <body>
        <h1 align='center'>Main building</h1>
        <img src ="/static/images/main.jpg"  height="500" width="1000" align="center" >
        <p>
            Established in 1851, Government Museum of Chennai is popular as the Madras Museum. Factually being the second oldest museum of India (after Kolkata’s Indian Museum), this museum is a treasure in itself! As a rich repository of finest masterpieces of art, archaeology, anthropology, numismatics and much more, the Madras Museum assures to lure one and all.

Spread across an area of 16.25 acres of land, the Government Museum is also counted among the largest museums of South Asia. Its campus has six independent buildings with 46 galleries. These are:

Main building, where you will find artifacts and sculptures from the past, animal galleries, botany galleries and philately gallery. Front building has a very interesting puppet gallery and galleries preserving the folk art and music.

Bronze gallery – Besides the bronze artifacts, there are also numismatics and chemical conservation galleries.

Children’s Museum is one section that fascinates all kids with is doll section, technology and science galleries.

National Art Gallery has some excellent paintings and pieces of artistic marvels.

Contemporary Art Gallery – From rock and cave art to British portrait to modern art, one can see how the art of ‘art’ has evolved over ages.

Government Museum Houses An Art Gallery, A Museum Theatre, Connemara Public Library And Department Of Natural History. Government Museum Is An Amalgam Of Various Sections Like The Ones Devoted To Geology, Anthropology, Numismatics, Botany, Zoology, Archeology And Sculpture. Watch Out Exquisite Carvings, A Good Collection Of Arms, Armour, A Collection Of South Indian Musical Instruments, Jewelry And Exhibits From The Stone And Iron Ages.

The Bronze Of Ardhanariswara, An Incarnation Of Lord Shiva, The Relics From The 2nd Century Ad Amaravati Buddhist Site And The Prehistoric South India Are Some Of The Most Priced Collections Of Government Museum In Chennai. Government Museum Is Open For Public On All The Days From 9:30am To 5pm. 
        </p>
    </body>

</html>