<!DOCTYPE html>
<html>
    <head>
        <title>Museum Theatre</title>
    </head>
    <body>
        <h1 align='center'>Museum Theatre</h1>
        <img src ="/static/images/theater.jpg"  height="500" width="1000" align="center" >
        <p>You also have The Museum Theatre to check out. A technological marvel as well as a hub for the city’s theatre groups, The Museum Theatre can accommodate about 600 people and comes with impressive acoustics and air conditioning. That and the beautiful trees here. While not officially on the museum's list of attractions, Government Museum is known for its magnificent neem, tamarind, mango and banyan trees that offer plenty of shade and a space to relax under. There's also a sculpture garden with appealing, intricately drawn stone structures. So, when are you going?

        </p></body>
</html>